*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    overflow-x: hidden;
}
header{
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 100;
}
.hanburger{
    display: none;
}
.hanburger div{
    width: 30px;
    height:2px ;
    background-color: black;
    margin: 8px;
}
.hanburger div:last-of-type{
    width: 20px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}
.logo img{
width: 120px;
border: none;
background: none;
outline: none;
}
.navs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.navs a{
    margin: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: black;
    
}
.navs a:hover{
    text-decoration: underline;
}
.btn{
    background: none;
    background-color: #ffff;
}
.login{
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color:rgb(255, 255, 255);
    
}
.login a{
    text-decoration: none;
    color: #000000;
}
.login a:hover {
    color:rgb(251, 109, 8);
}


.sign-up{
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffff;
}
.sign-up a{
    text-decoration: none;
    color: #000000;
}
.sign-up:hover {
    background-color:#EE9730;
    color:rgb(255, 255, 255);
    cursor: pointer;
}
.hero{
    width: 100%;
    height: 100vh;
    position: relative;

}
.hero video{ 
    object-fit: cover;
    width: 100vw;
    height: 100vh;

}
.hero-text{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(2, 1, 1, 0.534);
}
.hero-text h1{
    margin-top: 50px;
    font-size: 45px;
    color: #fff;
max-width: 800px;
text-align: center;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000)";/*IE 8*/
text-shadow: 2px 1px 0 #000000, 3px 3px 3px #000000;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000); /*IE 5.5-7*/
}
@media  (max-width: 774px) {
    .header{
        display: flex;
    }
    .navs a{
        display: none;
    }
    .logo{
        margin-top: -20px;
    }
    .hanburger{
        display: block;
    }
    
}
.section-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color:#F9A33E;
    padding: 20px;
    gap: 10%;
    border-top: 1px solid black;

}
.section-1 .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    height: 80vh;
    background-color:#fff;
    color: #000000;
    gap: 8%;
    border-radius: 10px;
    border: 3px solid black;
}
.section-1 .left h1{
    margin-top: -20px;
}
.section-1 .left a{
    text-decoration: none;
    color: #000000;
}
.section-1 .left a:hover {
    text-decoration: underline;
}
.section-1 .left button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
}
.section-1 .right{
    width:80% ;
    height:80vh ;
    border-radius: 10px;
    gap: 10%;
    display: flex;
    flex-direction: column;
}
.section-1 .right .up{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height:50vh ;
    background-color: #000000;
    border-radius: 10px;
    
}


.section-1 .right .up h1{
    font-size: 20px;
    color: #fff;

}
.section-1 .right .down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80%;
    height:50vh ;
    background-color: #000000;
    border-radius: 10px;
    
}
.section-1 .right .down h1{
    font-size: 20px;
    color: #fff;
}
.section-1 .right .down img{
    width: 130px;
    height: 130px;
    border: 1px solid white;
    border-radius: 300px;
}
.section-1 .right .down h4{
    color: white;
}
.section-1 .right .down p{
    color: #fff;
}

@media  (max-width: 774px) {
    .section-1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .section-1 .left {
        width: 700px;
        text-align: center;
}
.section-1 .left button {
    width: 150px;
    font-size: 15px;
}
.section-1 .right .up{
    width: 200px;
    text-align: center;
    
}
.section-1 .right .up h1{
    font-size: 15px;
}
.section-1 .right .down{
    width: 100%;
    text-align: center;
}
.section-1 .right .down h1{
    font-size: 15px;
}

}
.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    padding: 10px;
    gap: 3%;
    background-color:#F9A33E;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.section-2 .up-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
width: 87%; 
height: 80vh;
background-color: #000000;
color: #fff;
border-radius: 10px;
padding: 30px;
text-align: center;
}
.section-2 .up-box img{
    border-radius: 50px;
}
.section-2 .down-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    height: 80vh;
    background-color: #000000;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    padding-top: -40px;
    }
    .section-2 .down-box img{
        border-radius: 50px;
    }
    @media (max-width:774px) {
        .section-2{
            margin-bottom: 20px;
        }
    }
    footer{
        width: 100%;
        height: 100%;
        background-color:white;
        color: #000000;
        margin-top: 50px;
       
    }
    .Contact{
        display: flex;
        justify-content: space-between;
        padding: 50px;
    }
    .image {
        margin-top: -40px;
        color: rgb(0, 0, 0);
    }
    .center{
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .center .img-1{
        width:150px ;
    }

    .center .img-2 {
        width:100px;
        background-color: none;

    }
    .right{
        margin-top: -20px;
        color: rgb(0, 0, 0);
    }
    .image img{
        width: 100px;
        height: 100px;
        margin-left: -10px;
    }
    @media (max-width:774px) {
        .Contact{
            display: grid;
            gap: 7%;
            margin-top: -40px;
            }
            .image img{
                margin-left: -10px;
            }
            .center{
                margin-left: 110px;
            }
            .section-2{
                width: 100%;
                
            }
            .section-2 .up-box{
                width: 100%;
                gap: 30px;
            }
            .section-2 .down-box{
                width: 100%;
                gap: 30px;
            }
    }