* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100%;
  }
  header{
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 100;
}
.hanburger{
    display: none;
}
.hanburger div{
    width: 30px;
    height:2px ;
    background-color: black;
    margin: 8px;
}
.hanburger div:last-of-type{
    width: 20px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}
.logo img{
width: 120px;
border: none;
background: none;
outline: none;
}
.navs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.navs a{
    margin: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: black;
    
}
.navs a:hover{
    text-decoration: underline;
}
.btn{
    background: none;
    background-color: #ffff;
}
.login{
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color:rgb(255, 255, 255);
    
}
.login a{
    text-decoration: none;
    color: #000000;
}
.login a:hover {
    color:rgb(251, 109, 8);
}


.sign-up{
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffff;
}
.sign-up a{
    text-decoration: none;
    color: #000000;
}
.sign-up:hover {
    background-color:#EE9730;
    color:rgb(255, 255, 255);
    cursor: pointer;
}
  .head {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    /* margin-top: 10px; */
    margin-left: 34px;
    /* margin-bottom: 200px; */
    margin-top: 50px;
  }
  
  .second-head {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: 34px;
  }
  
  .second-head h3 {
    text-align: justify;
    font-size: 19px;
  }
  
  section {
    width: 100%;
    height: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: 10px;
  }
  
  .sub-sec {
    width: 95%;
    height: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sub-sec h5 {
    text-align: justify;
    font-size: 19px;
    line-height: 36px;
    font-weight: lighter;
  }
  
  .last-text {
    width: 95%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-left: 34px;
  }
  
  .last-text h3 {
    text-align: justify;
    font-size: 19px;
  }
  @media  (max-width: 774px) {
    .header{
        display: flex;
    }
    .navs a{
        display: none;
    }
    .logo{
        margin-top: -20px;
    }
    .hanburger{
        display: block;
    }
    
}